[Desktop Entry]
Name=gameProject
Exec=./qtc_device_debughelper.py app "webapp-container --inspector ./www/index.html"
Icon=gameProject.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

